/* перекодировать картинки в webp */
/* задать размеры относительными величинами по возможности */
.header,
.main,
.footer {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.wrapper {
  margin: 0 auto;
  width: 1110px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 0 15px;
}
@media (max-width: 1150px) {
  .wrapper {
    max-width: 1040px;
    min-width: 960px;
  }
}
.title {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  position: relative;
  color: #212121;
}
.title--white {
  color: #fff;
}
.title--underline-orange-left {
  padding: 0 0 27px 0;
  margin: 0 0 27px 0;
}
.title--underline-orange-left::after {
  content: '';
  position: absolute;
  width: 64px;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #ff8b38;
}
.title--underline-orange-center {
  padding: 0 0 27px 0;
  margin: 0 0 27px 0;
}
.title--underline-orange-center::after {
  content: '';
  position: absolute;
  width: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 2px;
  background-color: #ff8b38;
}
.title--underline-white-left {
  padding-bottom: 35px;
  margin: 0 0 36px 0;
}
.title--underline-white-left::after {
  content: '';
  position: absolute;
  width: 64px;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
.title--underline-white-center {
  color: #fff;
  padding-bottom: 35px;
  margin: 0 0 38px 0;
}
.title--underline-white-center::after {
  content: '';
  position: absolute;
  width: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 2px;
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
.small-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  color: #212121;
  position: relative;
}
.description {
  line-height: 20px;
  color: #86878b;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding: 0;
  color: #fff;
}
.btn--white {
  width: 135px;
  height: 42px;
  background: none;
  border: 2px solid #fff;
}
.btn--orange {
  border-radius: 3px;
  border: none;
  background-color: #ff8b38;
}
.header {
  background-color: #000;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 10;
}
.header__wrapper {
  align-items: center;
}
.header__logo {
  width: 79px;
}
.menu__list {
  width: 442px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu__link {
  text-decoration: none;
  opacity: 0.69;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  padding: 0 0 3px 0;
}
.menu__link:hover {
  padding: 0 0 1px 0;
  border-bottom: 2px solid #ff8b38;
}
.cover {
  max-height: 641px;
  background-image: url('../images/header_panel.webp');
  background-repeat: no-repeat;
  background-position: center bottom;
  padding: 110px 0 141px 0;
}
.cover__logo {
  margin: 0 0 27px 0;
}
.cover__title {
  max-width: 517px;
  line-height: 1.2;
}
.cover__description {
  opacity: 0.8;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
  color: #fff;
  margin: 0 0 40px 0;
}
.cover__form {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 360px;
  background-color: #fff;
  border-radius: 2px;
  margin: 30px 0 0 0;
}
.form__title {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  height: 54px;
  font-size: 20px;
  font-weight: 700;
  color: #333;
  background-color: #f5f5f5;
  border-radius: 2px 2px 0 0;
}
.form__free {
  color: #ff8b38;
}
.form__inputs {
  height: 254px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 28px 38px 50px;
}
.form__item {
  width: 285px;
  height: 31px;
  padding: 0 0 0 14.5px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #bdbdbd;
  border: none;
  box-shadow: 0px 1px 0px 0px rgba(0,0,1,0.15);
}
.form__item:focus {
  outline: none;
}
.form__btn {
  width: 360px;
  height: 54px;
  border: none;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background-color: #ff9b51;
  border-radius: 0 0 2px 2px;
}
@media (max-width: 1150px) {
  .cover {
    padding: 40px 0 71px 0;
    /* max-width: */
  }
}
.social {
  height: 105px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.37);
}
.social__wrapper {
  align-items: center;
}
.social__text {
  max-width: 362px;
}
.social__small-title {
  margin: 0 0 10px 0;
}
.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.socials__link {
  text-decoration: none;
}
.socials__link:hover {
  color: #ff8b38;
}
.social__link-list {
  width: 636px;
}
.social__list-item {
  font-size: 44px;
  color: #ccc;
}
.tabs-block {
  height: 595px;
  background-color: #f5f5f5;
  padding: 147px 0 0 0;
}
.tabs {
  display: flex;
  flex-direction: column;
}
.tabs__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 112px;
  height: 112px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  background-color: #333;
}
.tabs__item:first-child {
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid #fff;
}
.tabs__item:last-child {
  border-radius: 0 0 3px 3px;
  border-top: 1px solid #fff;
}
.tabs__item--active {
  background-color: #ff8b38;
}
.tabs-block__text {
  width: 477px;
}
.tabs-block__small-title {
  margin: 0 0 53px 0;
}
.tabs-block__description {
  margin: 0 0 50px 0;
}
.tabs-block__img {
  width: 320px;
  height: 253px;
}
.tabs-block__btn {
  width: 121px;
  height: 46px;
}
.sublist-section {
  min-height: 596px;
  background-color: #fff;
  padding: 107px 0 0 0;
}
.sublist-section__wrapper {
  flex-direction: row;
}
.sublist-section__img {
  max-width: 525px;
  max-height: 375px;
  width: 45%;
  height: 100%;
}
.sublist-section__text {
  max-width: 435px;
  width: 45%;
}
.sublist-section__description {
  margin: 0 0 43px 0;
}
.sublist-section__items {
  min-height: 178px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sublist-section__item {
  padding: 0 0 0 70px;
  position: relative;
}
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ff8b38;
  border-radius: 50%;
}
.sublist-section__circle {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
}
.sublist-section__circle-icon {
  font-size: 16px;
  color: #ff8b38;
}
.sublist-section__subtitle {
  line-height: 17px;
  font-weight: 600;
  color: #212121;
}
@media (max-width: 1040px) {
  .sublist-section__wrapper {
    justify-content: flex-start;
  }
  .sublist-section__img {
    margin: 0 5% 0 0;
  }
}
.picture-section {
  height: 524px;
  background-color: #f5f5f5;
  padding: 75px 0 0 0;
}
.picture-section__text {
  padding: 37px 0 0 0;
  max-width: 475px;
}
.picture-section__img {
  width: 525px;
  height: 375px;
}
.awesome {
  height: 592px;
  background-color: #fff;
  padding: 108px 0 105px 0;
}
.awesome__wrapper {
  flex-direction: column;
  align-items: center;
}
.awesome__title {
  color: #212121;
}
.awesome__description {
  margin: 0 0 80px 0;
}
.awesome-items {
  width: 1110px;
  height: 200px;
  display: flex;
  justify-content: space-between;
}
.awesome-items__item {
  max-width: 352px;
  position: relative;
  padding: 99px 0 0 0;
  text-align: center;
}
.awesome-items__circle {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.awesome-items__circle-icon {
  font-size: 32px;
  /* line-height: 1.2; */
  /* font-weight: 400; */
  color: #ff8b38;
}
.awesome-items__subtitle {
  font-size: 20px;
  font-weight: 700;
  color: #333;
  margin: 0 0 25px 0;
}
.pricing {
  min-height: 883px;
  background-color: #f5f5f5;
  padding: 108px 0 96px 0;
}
.pricing__wrapper {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.pricing__description {
  line-height: normal;
  margin: 0 0 80px 0;
}
.pricing__items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.pricing-item {
  width: 343px;
}
.pricing-item__title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 59px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background-color: #333;
  border-bottom: 1px solid #f5f5f5;
}
.pricing-item__price {
  min-height: 151px;
  background-color: #333;
  text-align: center;
}
.pricing-item__cost {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 94px;
  font-weight: 700;
  color: #fff;
  margin: 0 0 15px 0;
}
.pricing-item__dollar {
  font-size: 35px;
}
.pricing-item__period {
  opacity: 0.5;
  font-weight: 600;
  font-style: italic;
  line-height: 24px;
  color: #fff;
}
.pricing-item__popular {
  height: 5px;
  background-color: #ff8b38;
}
.pricing-item__popular--most-popular {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #fff;
  height: 40px;
}
.pricing-item__popular--most-popular::before {
  content: 'our most popular';
  text-transform: uppercase;
}
.pricing-item__features-list {}
.pricing-item__feature {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: #fff;
  border-bottom: 1px solid #f5f5f5;
  text-transform: uppercase;
  color: #86878b;
}
.pricing-item__feature:last-child {
  border: none;
}
.reviews {
  height: 591px;
  background-color: #fff;
  padding: 108px 0 101px 0;
}
.reviews__wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.reviews__description {
  margin: 0 0 57px 0;
}
.reviews__items {
  display: flex;
  justify-content: space-between;
  min-width: 1060px;
}
.reviews__item {
  min-height: 228px;
}
.reviews__quote {
  width: 273px;
  min-height: 131px;
  padding: 16px 12px;
  background-color: #f5f5f5;
  border-radius: 2px;
  position: relative;
  margin: 0 0 22px 0;
}
.reviews__quote::after {
    content: '';
    position: absolute;
    left: 23px; top: 131px;
    border: 12px solid transparent;
    border-top: 15px solid #f5f5f5;
}
.reviews__review-text {
  font-style: italic;
  line-height: normal;
}
.reviews__customer {
  padding: 15px 0 0 85px;
  position: relative;
}
.reviews__customer-photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #9a9a9a;
  position: absolute;
  top: 0;
  left: 0;
}
.reviews__customer-name {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  color: #333;
}
.additional {
  height: 320px;
  padding: 74px 0 0 0;
  background-image: url('../images/custom_panel.webp');
  background-position: center;
  background-repeat: no-repeat;
}
.additional__wrapper {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.additional__title {
  margin: 0 0 30px 0;
}
.additional__description {
  opacity: 0.8;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  margin: 0 0 33px 0;
}
.contacts {
  height: 612px;
  background-color: #fff;
  padding: 108px 0 80px 0;
}
.contacts__wrapper {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.contacts__description {
  margin: 0 0 79px 0;
}
.contacts__form {
  display: flex;
  justify-content: space-between;
  min-width: 1120px;
  min-height: 155px;
  margin: 0 0 43px 0;
}
.contacts__form-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contacts__form-left-item {
  width: 527px;
  height: 31px;
  border: none;
  padding: 4px 11px;
  box-shadow: 0px 1px 0px 0px rgba(0,0,1,0.15);
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #bdbdbd;
}
.contacts__form-left-item:focus {
  outline: none;
}
.contacts__textarea {
  width: 527px;
  height: 155px;
  resize: none;
  border: none;
  padding: 4px 11px;
  box-shadow: 0px 1px 0px 0px rgba(0,0,1,0.15);
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #bdbdbd;
}
.contacts__textarea:focus {
  outline: none;
}
.contacts__btn {
  min-width: 148px;
  min-height: 46px;
}
.footer {
  height: 84px;
  background-color: #000;
  padding: 20px 0 0 0;
}
.footer__wrapper {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.footer__link-list {
  width: 318px;
  margin: 0 0 13px 0;
}
.footer__list-item {
  font-size: 24px;
  color: #ccc;
}
.footer__copyright {
  opacity: 0.5;
  font-size: 12px;
  color: #fff;
}
